<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">

    <!-- Author Avatar -->
    <div id="author-avatar">
        <img src="<%- url_for(theme.img.avatar) %>" width="44px" height="44px" alt="Author Avatar"/>
    </div>
    <!-- Author Name & Date -->
    <div>
        <strong><%= config.author %></strong>
        <span><%= date(page.date, 'MMM DD, YYYY') %></span>
    </div>

    <div class="section-spacer"></div>

    <% if(theme.wordcount.enable === true) { %>
    |
    <i class="material-icons">keyboard</i><span class="post-count">本文共:<%= wordcount(page.content) %>字</span>
    |
    <i class="material-icons">query_builder</i><span class="post-count">阅读时间≈<%= min2read(page.content) %>分</span>
    |
    <% } %>

    <!-- Favorite -->
    <!--
        <button id="article-functions-like-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon btn-like">
            <i class="material-icons" role="presentation">favorite</i>
            <span class="visuallyhidden">favorites</span>
        </button>
    -->

    <!-- Qrcode -->
    <% if(theme.qrcode.enable === true) { %>
        <%- partial('_widget/qrcode') %>
    <% } %>

    <!-- Tags (bookmark) -->
    <% if (page.tags && page.tags.length) { %>
    <button id="article-functions-viewtags-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">bookmark</i>
        <span class="visuallyhidden">bookmark</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="article-functions-viewtags-button">
        <li class="mdl-menu__item">
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'post_tag',
            style: 'none',
            separator: '</li><li class="mdl-menu__item">'
        }) %>
    </ul>
    <% } %>

    <!-- Share -->
    <% if(page.hide_share !== true) { %>
        <%- partial('_partial/post-info-share') %>
    <% } %>
</div>
