//Custom styles.
body {
    //background-image:url(/images/background.jpg);
    //background-repeat: no-repeat;
    //background-attachment:fixed;
    //background-size: cover;
}
.main-inner {
    //opacity: 0.9;
}