<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>

		<div calss="count-span">
			<span id="busuanzi_container_site_pv">
				总访问量: <span id="busuanzi_value_site_pv"></span>|
			</span>
			<span id="busuanzi_container_site_uv">
				总访客: <span id="busuanzi_value_site_uv"></span>
			</span>
		</div>
  </div>
</footer>

<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>